{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions":{
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["standard", "standard-jsx", "standard-react"],
  "plugins": [
    "@babel",
    "jsx-a11y"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "arrow-parens": ["warn", "always"],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
