// Defaults to a regular list in case someone from 1994 travels to the future with their
// PC and visits this site

ul.content-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-top: 20px;
    // max-width: 285px;
  }
  @supports (display: grid) {
    // https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/#layout-3-trello-style-card-layout
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 10px;
    align-items: start;
    li {
      max-width: 100%;
      margin-top: 0;
      height: 100%;
    }
  }
}
