.app {
  position: relative;
  height: 100%;
  max-width: 1200px;
  min-width: 320px;
 &__header {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 5px 20px;
    background: rgb(var(--backgroundRGB), 0.2);
    &__left {
      display: flex;
      align-items: center;
    }
  }
  .app-theme-switcher {
    margin-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) and (min-width: 375px) {
    &__padded {
      padding: 50px;
    }
  }
}
