.toggle {
  width: 60px;
  height: 34px;
  border-radius: 40px;
  background-color: #475569;
  overflow: hidden;
  user-select: none;
}
.toggle__body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toggle__body__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 300ms;
}
.toggle__body__slider__knob {
  flex: 1 0 auto;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  background-color: #e2e8f0;
  margin: 0 3px;
}
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox:checked + .toggle__body__slider {
  left: -27px;
}
